[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"
ipdb = "*"
ipython = "*"
pprint = "*"

[packages]
biopython = "*"
SQLAlchemy = "*"
"psycopg2" = "*"

[requires]
python_version = "3.5"
